<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="vue.js"></script>
    <title>Document</title>
    <style>
      
    </style>
</head>

<body>
    <div id="app">
        {{paciente}} <br>
        <!-- Bind nas duas direções-->
      <input type="text" v-model="paciente">
      <hr>

       <input type="radio" value="f" v-model="sexo">Feminino
       <input type="radio" value="m" v-model="sexo">Masculino
       <br> {{sexo}}
       <hr>

        <select v-model="plano">
            <option value="" disabled>Selecione um plano</option>
            <option value="1">Básico 1</option>
            <option value="2">Básico 2</option>
            <option value="3">Master</option>
        </select>
        <br> {{plano}}
        <hr>
        <input type="checkbox" value="100" v-model="doencas">Asma
        <input type="checkbox" value="101" v-model="doencas">Diabetes tipo 1
        <input type="checkbox" value="102" v-model="doencas">Rinite
        <br> {{doencas}}
        <hr>
        <textarea v-model="diagnostico"></textarea>
        <br> {{diagnostico}}
    </div>


    <script>
        //precisa da instância de Vue para manipular o HTML
        const vm = new Vue({
            el: '#app', //#para selecinoar o Id
            data: {
                paciente: 'João da Silva',
                sexo: '',
                plano: '',
                doencas: [],
                diagnostico: ''
            },
            computed: {
              
            },
            methods: {
             
            },
        })
    </script>
</body>

</html>